/* style.css */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
a {
  text-decoration: none;
  background-color: none;
  color: black;
}

a:hover {
  text-decoration: none;
  background-color: none;
  color: black;
}

.signup-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 40px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.tooltip {
  position: relative;
  display: inline-block;
  padding: 10px;
  margin-left: 255px;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: white;
  color: rgb(46, 46, 46);
  text-align: center;
  padding: 10px 0;
  border-radius: 6px;
  border: 1px solid rgb(46, 46, 46);

  position: absolute;
  z-index: 1;
  margin-left: 30px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
